/* =====================================================
   FUNDO DA PÁGINA
===================================================== */



/* =====================================================
   ÁREA PRINCIPAL
===================================================== */

main {

    background-color: #000000;

    min-height: 100vh;

    padding: 1px 0;
}


/* =====================================================
   CARD DE CADASTRO
===================================================== */

.cadastro {

    max-width: 700px;

    margin: 60px auto;

    background-color: #000000;
    border-top: 3px solid #000000;
    padding: 40px;

    border-radius: 12px;

    border: 1px solid #5c5858;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25);
}


/* =====================================================
   TÍTULO
===================================================== */

.cadastro h1 {

    color: #d4af37;

    font-weight: bold;
}


/* =====================================================
   LABELS
===================================================== */

.form-label {

    color: #dddddd;
}


/* =====================================================
   CAMPOS
===================================================== */

.form-control {

    background-color: #000000;

    border: 1px solid #333333;

    color: #ffffff;
}


/* =====================================================
   CAMPOS AO SELECIONAR
===================================================== */

.form-control:focus {

    background-color: #1c1c1c;

    color: #ffffff;

    border-color: #d4af37;

    box-shadow:
        0 0 0 0.2rem rgba(212, 175, 55, 0.15);
}



/* ====================================================
   BOTÃO ESTETICK
===================================================== */

.btn-estetick {

    background: linear-gradient(135deg,
            #d4af37,
            #b89428);

    border: 1px solid #d4af37;

    color: #000000;

    font-weight: bold;

    padding: 10px 24px;

    border-radius: 7px;

    transition:
        background 0.3s ease,
        border-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.3s ease;
}


/* =====================================================
   HOVER DO BOTÃO
===================================================== */

.btn-estetick:hover {

    background: linear-gradient(135deg,
            #e5c158,
            #d4af37);

    border-color: #e5c158;

    color: #000000;

    transform: translateY(-2px);

    box-shadow:
        0 5px 15px rgba(212, 175, 55, 0.35);
}


/* =====================================================
   BOTÃO AO CLICAR
===================================================== */

.btn-estetick:active {

    transform: translateY(0);

    box-shadow:
        0 2px 6px rgba(212, 175, 55, 0.25);
}